################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RaresBooks/.vs/RaresBooks
/RaresBooks/RaresBooks/bin/Debug/netcoreapp3.1
/RaresBooks/RaresBooks/obj
